hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 100%;
  font-style: italic;
  color: gray;
}

p2 {
  font-size: 85%;
}

body {
  margin-top: 5%;
  margin-bottom: 5%;
}

.navbar-coloring {
    color: #FFFFFF;
    background-color: #000000;
}

.navbar-link-coloring{
  color: #FFFFFF;
}
.nav-item {
    padding-left: 20%;
    padding-right: 20%;
    color: #FFFFFF;
}
